.blog-teaser__link {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
}
.blog-teaser__link:hover, .blog-teaser__link:active, .blog-teaser__link:focus {
  text-decoration: none;
}
.blog-teaser__content {
  padding: 15px 0;
}
.blog-teaser__minutes_read,
.blog-teaser__minutes_read .field {
  display: inline-block;
}
.blog-teaser__minutes_read:before {
  content: '|';
  display: inline-block;
  padding-right: 4px;
}
.blog-teaser__date {
  display: inline-block;
}
.blog-teaser__image {
  overflow: hidden;
}
.blog-teaser__image img {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
a:hover .blog-teaser__image img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.blog-full__image {
  margin-bottom: 15px;
}
.blog-full__intro {
  margin-bottom: 15px;
  font-weight: bold;
}
.blog-full__categories {
  margin-bottom: 30px;
}
.blog-full__categories a,
.blog-full__categories span {
  display: inline-block;
}
.blog-full__paragraphs .paragraph--background-white:first-child {
  padding-top: 0;
}
.blog-full__paragraphs .paragraph:last-child:not(.paragraph--background-white) {
  margin-bottom: 30px;
}

.view-id-blog.view-display-id-block_overview_teaser .view-content, .view-id-blog.view-display-id-block_overview_snippet_vertical .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -30px -15px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  min-width: 100%;
}
.view-id-blog.view-display-id-block_overview_teaser .views-row, .view-id-blog.view-display-id-block_overview_snippet_vertical .views-row {
  padding: 0 15px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 100%;
}
@media only screen and (min-width: 640px) {
  .view-id-blog.view-display-id-block_overview_teaser .views-row, .view-id-blog.view-display-id-block_overview_snippet_vertical .views-row {
    width: 50%;
  }
}
@media only screen and (min-width: 960px) {
  .view-id-blog.view-display-id-block_overview_teaser .views-row, .view-id-blog.view-display-id-block_overview_snippet_vertical .views-row {
    width: 33.333333%;
  }
}
.view-id-blog.view-display-id-block_overview_snippet_horizontal .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -30px -15px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  min-width: 100%;
}
.view-id-blog.view-display-id-block_overview_snippet_horizontal .views-row {
  padding: 0 15px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 100%;
}
